/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*9.20*/
.form-page {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #222222;
}
.header-container {
	padding-top: 12px;
    padding-bottom: 15px;
}
.page-header__link {
	display: block;
	width: 33px;
	height: 38px;
}
.program-selection {
	margin-top: 15px;
	margin-bottom: 30px;
}
.program-selection__page-title {
	margin: 0;
	padding: 0;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 25px;

	font-weight: 400;
	font-size: 36px;
	line-height: 60px;
	color: #111111;
	text-transform: none;
}
.program-selection__text {
	margin: 0;
	padding: 0;
	margin-left: 20px;
	margin-right: 20px;	
}
.program-selection__form {
	margin-top: 40px;
	margin-bottom: 33px;
}
.form__fieldset {
	padding: 0;
	margin: 0;
	margin-bottom: 8px;

	border: none;
}
.input-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;

	margin: 0;
	padding: 0;
}
.input-list {
	margin: 0;
	padding: 0;

	list-style: none;
}
.form__personal-info {
	margin-right: 20px;
	margin-left: 20px;
}
.form__input {
	padding: 0;
	margin: 0;
	padding: 12px 40px 12px 15px;
	margin-left: 18px;
	margin-bottom: 15px;

    -webkit-box-flex: 2;

        -ms-flex-positive: 2;

            flex-grow: 2;

	font-size: 16px;
	line-height: 18px;
	border: 1px solid #e6e6e6;
	outline: none;
	text-transform: uppercase;
}
.form__input:focus,
.form__input:active {
	border: 1px solid #444444;
}
.form__input:invalid {
	border-color: #ff8282;
}
.form__input:disabled {
	opacity: 0.3;
}
.form__input:disabled + label {
	opacity: 0.3;
}
.form__label {
	max-width: 100px;
    overflow: hidden;
}
.form__label--personal-info {
    white-space: nowrap;    
}
.form__fieldset--goal {
	padding-top: 21px;
	padding-bottom: 9px;
	margin-bottom: 28px;

	border: 1px solid #ededed;
}
.form__label--radio {
	position: relative;
	display: block;
	margin-left: 20px;
    padding-left: 45px;
    height: 30px;

    line-height: 30px;
}
.input-list__item {	
    margin-bottom: 12px;
}
input.form__input--radio + label::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 30px;
	height: 30px;

	border-radius: 50%;
	border: 1px solid #ededed;
	cursor: pointer;
}
input.form__input--radio:checked + label::after {
	content: '';
	position: absolute;
	top: 9px;
	left: 9px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 12px;
	height: 12px;

	border-radius: 50%;
	background-color: #68b738;
}
.form__fieldset--decorated {	
	position: relative;
}

.form__fieldset--decorated::before {
	content: '';
	position: absolute;
	top: 14px;
	right: 0;

	height: 3px;
	width: 100px;
	background-color: #68b738;
}
.form__fieldset--comment::before {
	content: '';
	width: 160px;
}
.form__fieldset--extra::before {
	content: '';
	width: 130px;
}
.form__legend {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
    width: 220px;
    padding-left: 20px;
    padding-right: 15px;
    margin-bottom: 34px; 

	font-size: 24px;
	line-height: 24px;
	text-transform: none;
	color: #111111;
}
.form__fieldset--owner-info {
	margin-bottom: 15px;
}
.input-list__item--contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
    width: 280px;
    margin-bottom: 0;
}
.input-list--contacts {
	padding-left: 20px;
	padding-right: 20px;
}
.form__input--email {
	background-image: url(..//img/mail-icon.png);
	background-repeat: no-repeat;
	background-position: center right 15px;
}
.form__input--tel {
	background-image: url(..//img/phone-icon.png);
	background-repeat: no-repeat;
	background-position: center right 12px;
}
.form__textarea {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 280px;
	height: 150px;
	padding: 12px 13px;
	margin-left: 20px;

	border: 1px solid #e6e6e6;
	text-transform: uppercase;
	outline: none;
}
.form__textarea:focus,
.form__textarea:activ {
	border-color: #444444;
}
.form__textarea:invalid {
	border-color: #ff8282;
}
.form__fieldset--comment {
	margin-bottom: 26px;
}
.form__label--checkbox {
	position: relative;
	margin-left: 47px;

	line-height: 30px;
}
input.form__input--checkbox + label::before {
	content: '';
	position: absolute;
	top: -2px;
	left: 0;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
	width: 30px;
	height: 30px;
	margin-left: -47px;

	border: 1px solid #cfcfcf;
}
input.form__input--checkbox:checked + label::after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
	width: 30px;
	height: 30px;
	margin-left: -47px;

	background-image: url(..//img/checked.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.input-list--extra {
	padding-left: 20px;
}
.form__legend--extra {
	margin-bottom: 35px;
}
.form__button {
	display: block;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 20px;

	font-size: 16px;
	line-height: 20px;
}
.form__fieldset--extra {
	margin-bottom: 24px;
}
.form__note {
	display: block;

	text-transform: none;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #444444;
	text-align: center;
}
.contacts__container {
	padding-top: 27px;
    padding-bottom: 25px;
    margin-bottom: 0;

	background-color: #f2f2f2;
}
.contacts__address {
	text-transform: none;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #444444;
}
.copyright__link {
	text-transform: none;
	text-transform: none;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 16px;
	color: #444444;
}


@media only screen and (min-width: 768px) {
	.form-page {
		font-size: 20px;
		line-height: 20px;
	}
	.page-header__link {
		display: block;
    	width: 71px;
   		height: 58px;
	}
	.header-container {
		padding-top: 25px;
		padding-bottom: 42px;

		border-bottom: none;
	}
	.page-header__title {
		margin-left: 18px;
	}
	.navigation__link--active {
		padding-bottom: 7px;
	}
	.program-selection__page-title {
		padding-left: 10px;
    	padding-right: 10px;
    	margin-bottom: 55px;

		font-size: 60px;
		line-height: 60px;
	}
	.program-selection__text {
		width: 330px;
		padding-left: 50px;

		font-size: 20px;
		line-height: 30px;
	}
	.form__personal-info {
    	margin-right: 65px;
    	margin-left: 70px;
	}
	.form__input {
		padding: 11px 40px 11px 15px;
    	margin-bottom: 18px;

		font-size: 20px;
		line-height: 20px;
	}
	.program-selection__text {
		margin-bottom: 64px;
	}
	.form {
		position: relative;
	}
	.form__fieldset {
		margin-bottom: 55px;
	}

	.form__fieldset--goal {
		margin-right: 65px;
    	margin-left: 70px;
    	margin-bottom: 75px;
    	padding-top: 22px;
    	padding-bottom: 10px;
	}
	input.form__input--radio + label::before {
		content: '';
		position: absolute;
		top: 0;
		left: 6px;
		width: 40px;
		height: 40px;
	}
	input.form__input--radio:checked + label::after {
		content: '';
		top: 11px;
		left: 17px;
		width: 18px;
		height: 18px;
	}
    .form__label--radio {
	    padding-left: 67px;
	    height: 40px;

    	line-height: 40px;
	}
	.input-list__item {
    	margin-bottom: 14px;
	}
	.form__label {
		max-width: 400px;
	    overflow: hidden;
	}
	.form__legend {
		position: relative;
		width: auto;
		padding-left: 40px;
		padding-right: 40px;
		margin-left: 30px;
		margin-bottom: 75px;

		font-size: 36px;
		line-height: 36px;
		background-color: #ffffff;
	}
	.form__fieldset--decorated::before {
	    content: '';
	    position: absolute;
	    top: 23px;
	    right: 0;
	    height: 3px;
	    width: 100%;

	    z-index: 0;

	    background-color: #68b738;	    
	}
	.input-list--contacts {
    	padding-left: 72px;
    	padding-right: 65px;
	}
	.input-list__item--contacts {
		width: auto;		
    	margin-bottom: 0;
	}
	.form__fieldset--owner-info {
		margin-bottom: 46px;
	}
	.form__textarea {
		width: 630px;
		height: 175px;

	    margin-left: 70px;
	    margin-right: 65px;
	    padding-top: 15px;
	    padding-left: 18px;
	}
	.form__fieldset--comment {
		margin-bottom: 65px;
	}
	.form__fieldset--extra {
		margin-bottom: 25px;
	}
	.form__legend--extra {
		margin-bottom: 55px;
	}
	.input-list--extra {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;

		margin-left: 70px;
	    margin-right: 65px;
	    padding-left: 0;
	}
	input.form__input--checkbox + label::before {
		content: '';
		top: -4px;

		width: 40px;
		height: 40px;
		margin-left: -57px;
	}
	input.form__input--checkbox:checked + label::after {
		content: '';
		top: 0;
		left: 0;

		width: 40px;
		height: 40px;
		margin-left: -57px;

		background-position: 10px 8px;
	}
	.form__label--checkbox {
	    margin-left: 57px;

	    line-height: 40px;
	}
	.input-list__item--extra {
		width: 290px;

		margin-bottom: 31px;
	}
	.form__button {
		margin: 0;
		margin-left: 70px;
   		padding-top: 15px;
    	padding-bottom: 15px;

		font-size: 20px;
	}
	.form__note {
		position: absolute;
	    bottom: 5px;
	    right: 165px;
	    height: 30px;
	    width: 200px;

	    font-size: 16px;
	}
	.program-selection__form {
		margin-bottom: 73px;
	}
	.contacts__address {
		font-size: 16px;
	}
	.contacts__container {
		padding-top: 65px;
		padding-bottom: 58px;
	}
}



@media only screen and (min-width: 1440px) {
	.form-page {
		width: 1440px;
	}
	.navigation__link {
		color: #111111;
	}
	.navigation__link:hover,
	.navigation__link:focus {
		color: #111111;
	}
	.navigation__link:active {
		color: #111111;
	}
	.navigation__link--active {
    	border-bottom: 2px solid #68b738;
	}
	.header-container {
		width: 1440px;
    	-webkit-box-sizing: border-box;
    	        box-sizing: border-box;

		padding-left: 110px;
		padding-right: 100px;
		padding-top: 55px;
	}
	.program-selection {
		margin-top: 32px;
		margin-bottom: 83px;
	}
	.program-selection__page-title {
		margin-right: 110px;
		margin-left: 100px;
	}
	.program-selection__text {
		margin-right: 110px;
		margin-left: 60px;
	}
	.input-list--contacts {
		margin-right: 0;
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.desktop-flex-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: nowrap;
		    flex-wrap: nowrap;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		width: 1220px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;

		margin-right: 110px;
		margin-left: 110px;
		margin-bottom: -5px;
	}
	.form__legend {
		margin-left: 70px;
	}
	.form__personal-info {
		width: 570px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		margin-right: 80px;
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.form__fieldset--goal {
		width: 570px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		margin-right: 0;
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.input-list__item--contacts {
		width: 570px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		margin-right: 0;
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.form__fieldset--owner-info {
		margin-bottom: 52px;
	}
	.form__textarea {
		width: 1220px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		margin-right: 110px;
		margin-left: 110px;
	}
	.input-list--extra {
		margin-right: 110px;
		margin-left: 110px;
	}
	.input-list__item--extra {
		width: 300px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.form__button {
		width: 570px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		margin-left: 110px;
	}
	.form__fieldset--extra {
		margin-bottom: 36px;
	}
	.form__note {
		right: 490px;
	}
	.contacts__map {
		margin-left: 0;
	}
	.contacts__container {
    	top: 96px;
    	left: 219px;
	}
	.page-footer {
		padding-left: 78px;
	}
	.page-footer__container {
	    margin-left: 40px;
	}




}