/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*14.45*/
@import 'compareImages_styles.css';
body {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 320px;
	margin: 0 auto;
	padding: 0;

	font-family: Arial, sans-serif;
	font-style: normal;
	font-size: 14px;
	line-height: 18px;
	text-align: left;
	color: #444444;

	background-color: #ffffff;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	-webkit-clip-path: inset(100%);

	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
img {
	max-width: 100%;
	height: auto;
}
.header-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 320px;
	padding-top: 14px;
	padding-bottom: 15px;

	-ms-flex-wrap: wrap;

	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	border-bottom: 1px solid #e6e6e6;
}
.page-header__logo {
	width: 33px;
	height: 38px;

	margin-left: 20px;

	background-image: url(..//img/logo-mobile.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.page-header__title {
	width: 101px;
	height: 18px;

	background-image: url(..//img/logo-mobile-header.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.button {
	padding: 10px;

	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;

	background-color: #68b738;
	border: none;
	cursor: pointer;
}
.button:hover,
.button:focus {
	background-color: #5eaa2f;
}
.button:active {
	background-color: #5eaa2f;
	color: rgba(255, 255, 255, 0.3);
}
.navigation__toggle--open {
	display: none;
	width: 24px;
	height: 18px;

	margin-right: 20px;	
	
	background: #ffffff;
	background-image: url(../img/mobile-menu.png);
	background-position: 0 0;
	background-repeat: no-repeat;	
}
.navigation__toggle--open:hover,
.navigation__toggle--open:focus {
	background-color: #ffffff;
	background-image: url(../img/mobile-menu.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    outline: none;

    opacity: 0.6;
}
.navigation__toggle--open:active {
	background-color: #ffffff;
	opacity: 0.3;
}
.navigation__toggle--close {
	display: none;
	width: 24px;
	height: 18px;

	margin-right: 20px;	
	
	background: #ffffff;
	background-image: url(../img/mobile-menu-close.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
.navigation__toggle--close:hover,
.navigation__toggle--close:focus {
	background-color: #ffffff;
	background-image: url(../img/mobile-menu-close.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    outline: none;

    opacity: 0.6;
}
.navigation__item {
	padding-top: 24px;
	padding-bottom: 24px;

	text-align: center;

	border-top: 1px solid #e6e6e6;
}
.navigation__item:last-child {
	padding-bottom: 10px;
}
.navigation__link {
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}
.navigation__link:hover,
.navigation__link:focus {
	color: rgba(0, 0, 0, 0.6);
}
.navigation__link:active {
	color: rgba(0, 0, 0, 0.3);	
}
.navigation__link--active {
	border-bottom: 2px solid #68b738;
}
.navigation__list {
	width: 100%;
	margin: 0;
	padding: 0;

	list-style: none;
}
.navigation-header {
	display: none;
	margin-top: 15px;
}
.navigation__nojs {
	display: block;
}
.program-container {
	position: relative;
	min-height: 477px;

	padding-bottom: 2px;
}
.program-selection__back {
	position: absolute;
	top: 0;
	left: 0;
	height: 305px;
	width: 100%;
	margin: 0 auto;

	background-image: url(..//img/index-background-mobile.png);
	background-position: center 0;
	background-repeat: no-repeat;
}
.program-selection__can {
	position: absolute;
	top: 165px;
	left: 0;
	height: 270px;
	width: 100%;

	margin: 0 auto;

	background-image: url(..//img/index-can-mobile.png);
	background-position: center 0;
	background-repeat: no-repeat;
}
.program-selection__title {
	position: absolute;
	top: 25px;
	z-index: 1;

	max-height: 75px;
    overflow: hidden;
    margin: 0 auto;
	padding: 0;

	font-family: 'Oswald', sans-serif;
	font-size: 36px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
	color: #ffffff;
}
.program-selection__slogan {
	position: absolute;
	top: 123px;
	left: 60px;
	z-index: 1;

	margin: 0 auto;
	padding: 0;
	max-height: 55px;
    overflow: hidden;
    padding-right: 40px;
    padding-top: 4px;
    padding-bottom: 4px;

	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}
.program-selection__button {
	position: absolute;
	bottom: 0;
	left: 20px;
	right: 20px;
	z-index: 1;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
}
.padding-container {
	padding-right: 20px;
	padding-left: 20px;
}
.nutritional-goals {
	margin-top: 20px;
}
.goals-list {
	margin: 0;
	padding: 0;

	list-style: none;
}
.goals-list__title {
	min-height: 53px;
	margin: 0 0 15px 0;
	padding: 10px 0 0 70px;

	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 37px;
	text-transform: uppercase;
	color: #000000;	
}
.goals-list__title--slimming {
	background-image: url(..//img/slimming_icon.png);
	background-position: 2px 2px;
	background-repeat: no-repeat;
}
.goals-list__title--gain {
	padding: 10px 0 0 80px;

	background-image: url(..//img/weight_gain_icon.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
.goals-list__text {
	margin: 0;
	padding: 0 0 20px 0;

	border-bottom: 1px solid #e6e6e6;
}
.goals-list__item {
	background-color: #f2f2f2;
}
.goals-list__item--mobile {
	padding: 20px;
	margin-bottom: 20px;
}

.goals-list__link {
	display: block;
	padding-top: 20px;

	position: relative;

	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}
.goals-list__link::after {
	content: '';
	position: absolute;
	width: 24px;
	height: 11px;

	margin-left: 10px;
    margin-top: 2px;

	background-image: url(..//img/right-arrow.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
.goals-list__link:hover::after {
	content: '';
	position: absolute;
	width: 33px;
	height: 11px;

	background-image: url(..//img/right-arrow-verylong.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.goals-list__link:active {
	opacity: 0.3;
}
.features {
	margin-bottom: 45px;
}
.features__title {
	margin: 0;
	padding: 0;
	margin-bottom: 30px;

	font-family: 'Oswald', sans-serif;
	font-size: 36px;
	font-weight: 400;
	line-height: 60px;
	color: #000000;
}
.features__list {
	margin: 0;
	padding: 0;

	list-style: none;
}
.features__item {
	position: relative;
}
.features__item::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;

	height: 60px;
	width: 60px;
	background-color: #68b738;
}
.features__item--eco::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;

	height: 60px;
	width: 60px;

	background-image: url(..//img/eco_icon.png);
	background-position: 17px 15px;
	background-repeat: no-repeat;
}
.features__item--powder::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;

	height: 60px;
	width: 60px;
	
	background-image: url(..//img/powder_icon.png);
	background-position: 15px 15px;
	background-repeat: no-repeat;
}
.features__item--dosage::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;

	height: 60px;
	width: 60px;
	
	background-image: url(..//img/docage_icon.png);
	background-position: 17px 15px;
	background-repeat: no-repeat;
}
.features__item--result::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;

	height: 60px;
	width: 60px;
	
	background-image: url(..//img/result_icon.png);
	background-position: 17px 15px;
	background-repeat: no-repeat;
}
.features__text {
	padding: 0;
	margin: 0;
	padding-left: 80px;
	margin-bottom: 26px;
}
.example {
	padding-bottom: 36px;
    margin-bottom: 28px;

	background-color: #f2f2f2;
}
.example__results {
	margin: 0;
	padding: 0;
	margin-bottom: 35px;

	list-style: none;
}
.example__results--flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 280px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;	
}
.example__title {
	margin: 0;
	padding: 0;
	padding-top: 30px;
	margin-bottom: 35px;

	font-family: 'Oswald', sans-serif;
	font-size: 36px;
	font-weight: 400;
	line-height: 36px;
	color: #000000;
}
.example__text {
	margin: 0;
	padding: 0;
	margin-bottom: 23px;
}
.example__item {
	position: relative;

	width: 124px;

	border: 1px solid #e6e6e6;
	border-radius: 4px;
}
.example__value {
	margin: 0;
	padding: 15px 15px 10px 15px;
	margin-bottom: 5px;

	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
}
.example__parameter {
	position: absolute;
    max-width: 75px;
    bottom: -23px;
    left: 20px;

    max-height: 30px;
    overflow: hidden;
    margin: 0;
    padding: 5px;

    font-size: 12px;
    line-height: 12px;
    text-align: center;
    background-color: #f2f2f2;
}
.example__expenses {
	margin: 0;
	padding: 0;
	margin-bottom: 45px;

	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
	color: #000000;
	text-align: center;
}
.example__img {
	margin: 0 auto;
	margin-bottom: 27px;
}
.example__img--was {
	display: block;
	width: 271px;
	height: 239px;

	background-image: url(..//img/before-mobile.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.example__img--after {
	display: none;
	width: 271px;
	height: 239px;

	background-image: url(..//img/after-mobile.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.example__changes {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
	color: #000000;
}
.example__legend {
	max-width: 70px;
	margin-top: 30px;
}
.example__changes--flex {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;

	margin: 0 auto;
}
.example__range{
	position: absolute;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
	width: 290px;
	height: 14px;
	bottom: 28px;
	left: -5px;

	background-color: #ffffff;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
}
._inside-bar {
	position: absolute;
	top: 3px;
	left: 6px;

	width: 35px;
	height: 6px;

	background-color: #68b738;
	border-radius: 5px;
	cursor: pointer;
}
.contacts__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	margin-bottom: 25px;
}
.contacts__title {
	margin: 0;
	padding: 0;

	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
	color: #000000;
}
.contacts__address {
	margin: 0;
	padding: 0;
	margin-left: 25px;
}
.contacts__map {
	width: 320px;
	height: 400px;

	/*background-image: url(..//img/map_mobile.png);
	background-repeat: no-repeat;
	background-position: 0 0;*/
}
.page-footer {
	padding-top: 30px;
	text-align: center;
}
.page-footer__logo {
}
.page-footer__container {
	margin: 30px 20px 30px 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}
.page-footer__socials {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 130px;
}
.socials {
	margin: 0 auto;
	padding: 0;

	list-style: none;
}
.socials__item {

}
.socials__icon {
	display: block;
	width: 19px;
	height: 19px;

	background-repeat: no-repeat;
	background-position: 0 center;
}
.socials__icon:active {
	opacity: 0.3;
}
.socials__icon--vk {
	width: 22px;

	background-image: url(..//img/m-vk.png);
}
.socials__icon--vk:hover,
.socials__icon--vk:focus {
	background-image: url(..//img/m-vk-hvr.png);
}
.socials__icon--inst {
	background-image: url(..//img/m-insta.png);
}
.socials__icon--inst:hover,
.socials__icon--inst:focus {
	background-image: url(..//img/m-insta-hvr.png);
}
.socials__icon--fb {
	background-image: url(..//img/m-fb.png);
}
.socials__icon--fb:hover,
.socials__icon--fb:focus {
	background-image: url(..//img/m-fb-hvr.png);
}
.page-footer__copyright {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	
	padding-bottom: 20px;
}
.copyright__link {
	padding-left: 20px;
	padding-right: 20px;

	font-size: 16px;
	line-height: 16px;
	text-decoration: none;
	color: #444444;
}
.copyright__logo {
	display: block;
	width: 27px;
	height: 34px;

	background-image: url(..//img/htmlacademy.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.copyright__logo:hover,
.copyright__logo:focus {
	background-image: url(..//img/htmlacademy-hvr.png);
}
.copyright__logo:active {
	opacity: 0.3;
}
.copyright__link:active {
	opacity: 0.3;
}
.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

@media only screen and (min-width: 768px) {
	body {
		width: 768px;
	}
	.navigation__toggle--open {
		display: none;
	}
	.navigation__toggle--close {
		display: none;
	}
	.header-container {
		-ms-flex-wrap: nowrap;
		    flex-wrap: nowrap;
		width: 100%;

		padding-top: 26px;
	}
	.navigation-header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		
		margin-right: 30px;
		margin-top: 0;
		margin-left: auto;
	}
	.navigation__list {
		width: auto;
	}
	.navigation__item {	
		padding-top: 0;
		padding-bottom: 0;
		margin-right: 35px;
   		margin-left: 0;	

		border: none;
	}
	.navigation__item:last-child {
    	padding-bottom: 0;
    	margin-right: 0;
	}
	.page-header__logo {
		margin-left: 30px;		
	}
	.navigation__link {font-family: 'Oswald', sans-serif;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
	}
	.page-header__logo {
		width: 71px;
		height: 58px;

		background-image: url(..//img/logo-tablet.png);
	}
		.page-header__title {
		width: 85px;
		height: 17px;

		margin-right: 60px;
	    margin-left: 10px;

		background-image: url(..//img/logo-tablet-header.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		}
		.program-container {
			min-height: 830px;
		}
		.program-selection__back {
			display: none;
		}
		.program-selection__can {
		position: absolute;
		top: 240px;
		height: 609px;

		background-image: url(..//img/index-background-tablet.jpg);
		background-position: left 30px top;
	}
	.program-selection__title {
		margin-left: 120px;
		margin-top: 15px;

		max-width: 500px;
		max-height: 125px;

		font-family: 'Oswald', sans-serif;
		font-size: 60px;
		font-weight: 400;
		line-height: 60px;
		color: #000000;
		text-align: left;
		    
	    overflow: hidden;
	}
	.program-selection__slogan {
		top: 202px;
		left: 0;

		margin-left: 120px;

		max-width: 500px;
	    max-height: 60px;
		
		font-family: 'Oswald', sans-serif;
		font-size: 20px;
		font-weight: 400;
		line-height: 20px;
		color: #000000;
		text-align: left;
	    
	    overflow: hidden;
	}
	.program-selection__button {
		display: block;

		top: 270px;
	    bottom: auto;
	    left: 120px;
	    right: 0;
		
		max-width: 245px;

		padding: 15px 25px;

		font-size: 20px;
		line-height: 20px;
	}
	.padding-container {
		padding-right: 30px;
		padding-left: 30px;
	}
	.goals-list__title {
		font-size: 36px;
		line-height: 37px;

		padding-left: 0;
		margin-right: 280px;
		margin-bottom: 10px;


		background: none;
	}
	.goals-list__item--tablet {
		padding: 65px 60px 60px 52px;
		margin-bottom: 32px;

		background-position: right 60px top 80px;
		background-repeat: no-repeat;
	}
	.goals-list__item--slimming {
		background-image: url(..//img/slimming_tablet_icon.png);	
	}
	.goals-list__item--gain {
		background-image: url(..//img/weight_gain_tablet_icon.png);
		background-position: right 30px top 90px;
	}
	.goals-list__text {
		margin-right: 220px;
		padding-bottom: 35px;

		line-height: 24px;
		border: none;
	}
	.goals-list__link {
		margin-right: 220px;

		font-size: 20px;
		line-height: 20px;
	}
	.goals-list__link::after {
	    content: '';
	    margin-left: 24px;
	}
	.features {
		margin-bottom: 0;
	}
	.features__title {
		margin-bottom: 75px;

		font-size: 60px;
		line-height: 60px;
	}
	.nutritional-goals {
	    margin-bottom: 45px;
	}
	.features__list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;

		max-width: 768px;
	}
	.features__item {
		width: 325px;
		min-height: 230px;
		margin-bottom: 85px;

		background-repeat: no-repeat;
		background-position: 122px 0;
	}
	.features__item:last-child,
	.features__item:nth-last-child(2) {
		margin-bottom: 56px;
	}
	.features__text {
		width: 220px;

		padding-left: 0;
		margin-top: 110px;

		font-size: 16px;
		line-height: 24px;
	}
	.features__item::before {
	    content: '';

	    height: 80px;
	    width: 80px;

	    background-position: 26px 26px;
	}
	.features__item--eco {
		background-image: url(..//img/1.png);
	}
	.features__item--powder {
		background-image: url(..//img/2.png);
	}
	.features__item--dosage {
		background-image: url(..//img/3.png);
	}
	.features__item--result {
		background-image: url(..//img/4.png);
	}
	.border-container {		
   		margin-bottom: 40px;
   		border-bottom: 1px solid #e6e6e6;
	}
	.example__title {
		font-size: 60px;
		line-height: 60px;
	}
	.example {
		position: relative;

		padding-bottom: 65px;
		margin-bottom: 68px;

		background-color: #ffffff;
		border-bottom: 1px solid #e6e6e6;
	}
	.example__item {
		width: 160px;
	}
	.tablet-greybg {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		height: 460px;
		background-color: #f2f2f2;
	}

	.example__title {
		padding-top: 2px;
		margin-bottom: 65px;
	}
	.example__text {
		font-size: 16px;
		line-height: 24px;

		margin-bottom: 53px;
	}
	.example__value {
		font-size: 30px;
		line-height: 40px;
	}
	.example__parameter {
		max-width: 127px;
		width: 127px;
		
		bottom: -11px;
    	left: 15px;      

		font-size: 14px;
		line-height: 14px;
		text-align: center;
		background: #ffffff;
		white-space: nowrap;
	}
	.example__results--flex {
		width: 365px;
	}
	.example__expenses {
		margin-top: 8px;

		font-size: 20px;
    	line-height: 29px;
    	text-align: right;
	}
	.examle__container--tablet {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: nowrap;
		    flex-wrap: nowrap;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;

		width: 708px;
	}
	.example__expenses--break {
		display: block;
	}
	.example__img--was {
		width: 677px;
		height: 499px;

		background-image: url(..//img/before-tablet.png);
	}
	.example__img--after {
		width: 545px;
		height: 517px;

		background-image: url(..//img/after-tablet.png);
	}
	.example__img {
		position: relative;

		margin-top: 65px;
		margin-bottom: 20px;
	}
	.example__changes {
		position: relative;
	}
	.example__legend {
		padding-bottom: 5px;
		margin-top: 0;

		font-size: 20px;
		border-bottom: 1px dotted #bebebe;
		cursor: pointer;
	}
	.example__legend:hover,
	.example__legend:focus {
		border-bottom-style: solid;
	}
	.example__legend:active {
		border-bottom: none;
	}
	.example__changes--flex {
		width: 100%;

		-webkit-box-align: center;

		    -ms-flex-align: center;

		        align-items: center;
	}
	.example__range {
		width: 557px;
		height: 6px;
		left: 75px;
		bottom: -3px;

		border: none;
		background-color: #dcdcdc;
	}
	._inside-bar {
		position: absolute;
		top: -14px;
    	left: 200px;

		width: 34px;
		height: 34px;

		-webkit-box-sizing: border-box;

		        box-sizing: border-box;

		background-color: #ffffff;
		border-radius: 50%;
		border: 1px solid #cdcdcd;
	}
	._inside-bar::after {
		content: '';
		position: absolute;
		top: 12px;
		left: 12px;

		width: 8px;
		height: 8px;

		background-color: #68b738;
		border-radius: 50%;
	}
	.contacts__map {
		width: 767px;
		height: 400px;

		/*background-image: url(..//img/map-tablet.png);*/
	}
	.contacts__title {
		width: 200px;
		margin-left: 40px;

		font-size: 20px;
		line-height: 25px;
	}
	.contacts__address {
		width: 180px;
		padding-right: 40px;

		font-size: 16px;
		line-height: 20px;
		text-align: right;
	}
	.contacts__container {
    	margin-bottom: 60px;
	}
	.page-footer {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: nowrap;
		    flex-wrap: nowrap;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;

		padding-top: 55px;
    	padding-bottom: 50px;

		background-color: #f2f2f2;
	}
	.page-footer__container {
		margin: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-left: 72px;

		border: 0;
	}
	.page-footer__logo {
		margin-left: 32px;
	}
	.socials__icon {
		height: 28px;
	}
	.socials__icon--vk {
	width: 30px;

	background-image: url(..//img/t-vk.png);
	}
	.socials__icon--vk:hover,
	.socials__icon--vk:focus {
		background-image: url(..//img/t-vk-hvr.png);
	}
	.socials__icon--inst {
		width: 23px;

		background-image: url(..//img/t-insta.png);
	}
	.socials__icon--inst:hover,
	.socials__icon--inst:focus {
		background-image: url(..//img/t-insta-hvr.png);
	}
	.socials__icon--fb {
		width: 14px;

		background-image: url(..//img/t-fb.png);
	}
	.socials__icon--fb:hover,
	.socials__icon--fb:focus {
		background-image: url(..//img/t-fb-hvr.png);
	}
	.page-footer__copyright {
		padding-bottom: 0;
	}
}


@media only screen and (min-width: 1440px) {
	body {
		width: 1440px;
	}
	.desktop-container {
		padding-right: 100px;
		padding-left: 110px;
	}
	.program-selection__back {
		top: -130px;
		right: -200px;
		z-index: 0;

		display: block;
		height: 696px;
		
		background-image: url(..//img/index-background-desktop.jpg);
		background-position: right 0;		
	}
	.program-selection__can {
		top: 13px;
    	left: 110px;
    	z-index: 1;

		height: 499px;

		background-image: url(..//img/index-can-desktop.png);
    	background-position: center top;

	}
	.navigation-header {
		z-index: 1;

		max-width: 600px;
    	max-height: 60px;
		margin-right: 10px;
	}
	.navigation__link {
		padding-bottom: 7px;

		font-size: 20px;
		color: #ffffff;
	}
	.navigation__link:hover,
	.navigation__link:focus {
		color: #ffffff;
		opacity: 0.6;
	}
	.navigation__link:active {
		color: #ffffff;
		opacity: 0.3;
	}
	.navigation__link--active {
		border-bottom: 2px solid #ffffff;
	}
	.header-container {
		padding-top: 56px;

		border: none;
	}
	.page-header__logo {
		width: 70px;
		height: 58px;
		margin-left: 0;

		background-image: url(..//img/logo-desktop.png);
	}
	.page-header__title {
		width: 118px;
		height: 22px;
		margin-left: 14px;

		background-image: url(..//img/logo-desktop-header.png);
	}
	.program-container {
    	min-height: 625px;
	}
	.program-selection__title {
		margin-left: 80px;
		margin-top: 68px;
		padding-bottom: 4px;
	}
	.program-selection__slogan {
		margin-left: 80px;
		margin-top: 52px;
	}
	.program-selection__button {
		top: 328px;
    	left: 80px;
	}
	.padding-container {
		padding-right: 10px;
    	padding-left: 0;
	}
	.goals-list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		width: 1220px;
	}
	.goals-list__item {
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		width: 570px;
		padding: 40px 50px 60px 52px;
		margin-right: 0;

		background-image: none;
	}
	.goals-list__title {
		min-height: 100px;
		margin-right: 0;
	}
	.goals-list__title--slimming {
		padding-left: 165px;
    	padding-top: 36px;

    	background-image: url(..//img/slimming_desktop_icon.png);
    	background-position: 0 0;
    	background-repeat: no-repeat;
	}
	.goals-list__title--gain {
    	padding-left: 205px;
    	padding-top: 36px;
    	margin-left: -40px;

    	background-image: url(..//img/weight_gain_desktop_icon.png);
    	background-position: 23px 7px;
    	background-repeat: no-repeat;
    }
    .goals-list__text {
    	margin-right: 0;
    	padding-bottom: 32px;

    	font-size: 16px;
    }
    .goals-list__link {
    	padding-top: 0;
    }
    .features__list {
    	max-width: 1220px;
    }
    .features__item {
    	width: 245px;
    	margin-bottom: 75px;
    }
    .features__title {
    	margin-bottom: 70px;
    }
    .border-container {
    	margin-bottom: 0;
    	border: none;
    }
    .example__info--desktop {
    	position: relative;
    	z-index: 1;

    	-webkit-box-sizing: border-box;

    	        box-sizing: border-box;
    	width: 570px;
    }
    .example__slider--desktop {
    	position: absolute;
    	top: -40px;
    	right: 110px;
    	z-index: 1;

    	-webkit-box-sizing: border-box;

    	        box-sizing: border-box;
    	width: 650px;
    }
    .padding-container--desktop {
    	padding-left: 110px;
    	margin-left: -110px;
    	padding-right: 100px;
    	margin-right: -100px;
    }
    .example {
    	min-height: 598px;
    	margin-bottom: 0;
    	padding-bottom: 0;

    	border-bottom: none;
    }
    .example__text {
    	max-width: 450px;
    	margin-bottom: 67px;
    }
    .tablet-greybg {
    	top: 138px;
    	bottom: auto;
    }
    .example__title {
    	margin-bottom: 148px;
	}
	.example__range {
		left: 40px;
	}
	.example__was {
		margin-left: -30px;
	}
	.example__became {
		margin-left: 600px;
	}
	.examle__container--desktop {
		display: block;
	}
	.example__expenses {
		max-width: 600px;

		text-align: left;
	}
	.example__expenses--break {
		display: inline;
		margin-left: 59px;
	}
	.example__results {
		margin-bottom: 57px;
	}
	.example__parameter {
		left: 12px;

		background-color: #f2f2f2;
	}
	.example__changes {
		margin-right: 0;
		margin-top: 13px;
		margin-left: 20px;
	}
	.example__img {
		margin-bottom: 40px;
	}
	.contacts {
		position: relative;
		width: 1440px;
	}
	.contacts__container {
		position: absolute;
		top: 98px;
		left: 110px;

		-webkit-box-sizing: border-box;

		        box-sizing: border-box;
		width: 570px;
		padding: 65px 24px 60px 37px;
		margin-left: -110px;

		background-color: #ffffff;
	}
	.contacts__title {
		max-height: 178px;
    	overflow: hidden;
	}
	.contacts__map {
		display: block;
		width: 1440px;
		height: 400px;
		margin-left: -110px;

		/*background-image: url(..//img/map-desktop.png);*/
	}
	.contacts__address {
		max-height: 178px;
    	overflow: hidden;

		text-align: left;
	}
	.page-footer {
		padding-top: 60px;
		padding-right: 100px;
    	padding-left: 110px;
    	padding-bottom: 60px;
	}
	.page-footer__container {
		margin-left: 0;
	}	


}